*{
    margin: 0;
    padding: 0;
    }
    nav{
         background-color: rgb(223, 224, 224); 
        width: 100%;
        height: 250px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px ;

        display: block;
        grid-template: "logoprincipal  menuprincipal"
                        "empty          divbusqueda"/
                        1fr                2fr
    }
   
    .logoprincipal{
        position: absolute;
        grid-area: logoprincipal;
        width: 200px;
        margin-bottom: 90px; 
        margin-top: 20px; 
        margin-left: 50px;
    
    }
    .menu-principal{
        grid-area: menuprincipal;
        margin-top: 60px;
        background-color :rgb(223, 224, 224); 
        text-align: right; 
        margin-right: 100px;
        margin-bottom:30px;
        margin-left: 400px;
    }
    a{
        text-decoration: none;
        color: black;
        text-align: right;
        margin-right: 50px;
        margin-bottom: 40px
    }
    a:hover{
        color: aliceblue;
    }
    li{
        background-color: rgb(143, 238, 20);
        font-size: 1.4em;
        display: inline-block;
        color: black;
        padding: 2opx 30px;
        margin: 20px;
        margin-top: 50px;
        text-decoration: none;
        font-family: tahoma;
        text-transform: none;
        margin-left: 50px;
        padding-left: 80px;
        text-align: center;
        
    
    
    }
    .divtexto{
        background-color: orange;
        width: 60%;
        height: 40%;
        margin-top: 3%;
        margin-right: 50px;
        margin-left: 400px;
        text-align: right;
        text-align: center;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        font-size: 0.9em;
    }
    
    .textdecabecera{
        text-align: center;
        padding: 10px 30px;
        padding-top: 10px;
    }

    /* Contenedor o cuerpo */
    .main-conten{
        background-color:rgb(14, 14, 247);
        display: grid;

        margin-top: 10px;
        height: 30%;
        grid-template: "productos-dia img-lulo lo-mas-vendido"/
                          2fr           2fr         2fr;
            
    }
    .productos-dia{
        grid-area:productos-dia;
        background-color: rgb(145, 243, 33);
        margin: 10px 10px 10px 10px;
        margin-bottom: 30%;
        height: 500px;
    }
    .img-lulo{
        grid-area: img-lulo;
        background-color: white;
        margin: 10px 10px 10px 10px;
        height: 500px;

    }
    .tendencias{
        background-color:rgb(253, 130, 15);
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px ;
        text-align: center;
        width:50%;
        padding-top: 0%;
        color: white;
        
    }
    .tend{
        text-align: center;
        color: white;
    }
    .ofertas{
            background-color:rgb(253, 130, 15); 
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px ;
            text-align: center;
            width:50%;
            padding-top:25px ;
            margin-top: 50%;
        }
        .ofer{
            text-align: center;
            color: white;
        }
    
    .lo-mas-vendido{
        grid-area: lo-mas-vendido;
        background-color: white;
        margin: 10px 10px 10px 10px;
        height: 500px;


    }
    .registrar{
        background-color:rgb(248, 247, 245);
        height: 10%;
        text-align: center;
        width:50%;
        margin-left: 25%;
        margin-top: 10%;


    }
    .ingresar {
        background-color:rgb(248, 247, 245);
       height: 10%;
        text-align: center;
        width:50%;
        margin-left: 25%;
        margin-top: 10%;
       
    }
    .olvido{
        background-color:rgb(248, 247, 245);
       height: 10%;
        text-align: center;
        width:50%;
        margin-left: 25%;
        margin-top: 10%;

    }
    .imgcafe{
        height: 50%;
        margin-top: 20%;
    }
    .pie{
        text-align: center;
        color:black;
       
    }
    .le{
        background-color: rgb(145, 243, 33);
    }

   /*  Menu hamburgesa */
    .menu-hamburger{
        position:absolute;
        position: fixed;
        width: 30px;
        right: 30px;
        top:20px;
        font-size: 80px;
        cursor: pointer;
        
        
    }  
    .menu-barra-visible{
        position: fixed;
        width: 30px;
        right: 30px;
        top: 25px;
    }
    .menu-barra{
        position: fixed;
        visibility: hidden;
        width:30px;
        right: 30px;
        top: 25px;
    }
@media only screen and (max-width: 1450px){
    .menu-barra{
        visibility: visible;
        position: fixed;
        width: 80px;
        left: 80px;
        top: 25px;
        cursor: pointer;
    }
    .menu-vertical{
        display: block;
    }
    .menu-principal {
        display: none;
    }
    .divtexto{
        display: none;
    }
   /*  .logoprincipal{
        display: none;
    } */

      
}
